body {
  background-image: url('akademie-fuer-religionslehre.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1176px)  {
  body {
    background-size: 100% 100%;
  }
}

.mailchimp {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  background: rgba(255, 255, 255, .9);
  border: 1px solid gray;
  border-radius: 5px;
}


h1 {
  font-family: sans-serif;
  text-align: center
}