body {
  background-image: url('akademie-fuer-religionslehre.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1881px)  {
  body {
    background-size: cover;
  }
}
@media screen and (min-height: 1700px)  {
  body {
    background-size: cover;
  }
}


h1 {
  font-family: sans-serif;
  text-align: center
}